* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header {
    color: #FFF;
    height: 100vh;
    position: relative;
    background-color: rgb(40, 40, 40);
    z-index: -2;
}

.header__menu {
    display: flex;
    height: 4em;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.header__menu > a {
    text-transform: capitalize;
    color: #FFF;
    text-decoration: none;
}

.header__menu > a:nth-child(n + 2) {
    margin-left: 2em;
}

.header__image {
    position: relative;
}

.header__image > img {
    height: calc(100vh - 4em);
    width: 100%;
    object-fit: cover;
    position: absolute;
    filter: brightness(75%); /* Ajusta o brilho da imagem */
    z-index: -1;
}

.header__text {
    text-align: center;
    margin-top: calc(40vh - 4em);
}

.header__text h1 {
    font-size: 4em;
    /* -webkit-text-stroke: 0.5px black; */ /* Cria uma borda ao redor do texto */
}

.header__text p {
    font-size: 1.7em;
}