/* Fonte - Google Fontes */
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}

.header {
    color: #FFF;
    height: 85vh;
    position: relative;
    background-color: rgb(40, 40, 40);
    z-index: -2;
}

.header__menu {
    display: flex;
    height: 3em;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.header__menu > a {
    text-transform: capitalize;
    color: #FFF;
    text-decoration: none;
}

.header__menu > a:nth-child(n + 2) {
    margin-left: 2em;
}

.header__image {
    position: relative;
}

.header__image > img {
    height: calc(85vh - 3em);
    width: 100%;
    object-fit: cover; /* Ajusta a imagem ao container */
    object-position: top; /* Ajusta o topo da imagem ao container */
    position: absolute;
    filter: brightness(85%); /* Ajusta o brilho da imagem */
    z-index: -1;
}

.header__text {
    text-align: center;
    margin-top: calc(20vh - 3em);
}

.header__text p:first-child {
    font-size: 3em;
}

.header__text p:nth-child(2n) {
    font-size: 1em;
    margin: 1em auto 2em;
}

.header__text button {
    padding: 1em 1.5em;
    
    font-size: 0.7em;
    border-radius: 1em;
    font-weight: bold;
    
    background-color: #f1a90d;
}