/* Fonte - Google Fontes */
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}

/* CABEÇALHO */

.header {
    color: #FFF;
    height: 85vh;
    position: relative;
}

.header__menu {
    background-color: rgb(40, 40, 40);
    display: flex;
    height: 3rem;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.header__menu > a {
    text-transform: capitalize;
    color: #FFF;
    text-decoration: none;
    cursor: pointer;
}

.header__menu > a:nth-child(n + 2) {
    margin-left: 2rem;
}

.header__image {
    position: relative;
}

.header__image > img {
    height: calc(85vh - 3rem);
    width: 100%;
    object-fit: cover; /* Ajusta a imagem ao container */
    object-position: top; /* Ajusta o topo da imagem ao container */
    position: absolute;
    filter: brightness(85%); /* Ajusta o brilho da imagem */
    z-index: -10;
}

.header__text {
    text-align: center;
    margin-top: calc(20vh - 3rem);
}

.header__text p:first-child {
    font-size: 3rem;
}

.header__text p:nth-child(2n) {
    font-size: 1rem;
    margin: 1rem auto 2rem;
}

.header__text button {
    padding: 1rem 1.5rem;
    
    font-size: 0.7rem;
    border-radius: 1rem;
    font-weight: bold;
    
    background-color: #f1a90d;
    cursor: pointer;
}

/* CORPO - CARDAPIO */

.menu {
    margin: 2rem auto;
    width: 80%;
}

.menu__title {
    text-align: center;
    margin-bottom: 1.5rem;
}

.menu__items {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.menu__items li {
    max-width: 30%;
    list-style: none;
    font-size: 0.8rem;
    border-radius: 10px;
    margin-bottom: 1.5rem;
    background-color: #eceaea;
}

.menu__items img {
    width: 100%;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
}

.menu__items li > p {
    margin: 1rem;
}

.menu__items li > p:last-of-type {
    margin-bottom: 1.5rem;
}

.menu__items li > p:first-of-type {
    font-weight: bold;
}